@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefae0;
  --foreground: #283618;
  --card: #fefae0;
  --card-foreground: #283618;
  --popover: #fefae0;
  --popover-foreground: #283618;
  --primary: #606c38;
  --primary-foreground: #fefae0;
  --secondary: #dda15e;
  --secondary-foreground: #283618;
  --muted: #bc6c25;
  --muted-foreground: #fefae0;
  --accent: #dda15e;
  --accent-foreground: #283618;
  --destructive: #bc6c25;
  --destructive-foreground: #fefae0;
  --border: #606c38;
  --input: #606c38;
  --ring: #283618;
  --chart-1: #606c38;
  --chart-2: #283618;
  --chart-3: #dda15e;
  --chart-4: #bc6c25;
  --chart-5: #fefae0;
  --radius: 0.5rem;
}
body {
  @apply bg-[var(--background)] text-[var(--foreground)];
}

@layer base {
  :root {
    --background: #fefae0;
    --foreground: #283618;
    --card: #fefae0;
    --card-foreground: #283618;
    --popover: #fefae0;
    --popover-foreground: #283618;
    --primary: #606c38;
    --primary-foreground: #fefae0;
    --secondary: #dda15e;
    --secondary-foreground: #283618;
    --muted: #bc6c25;
    --muted-foreground: #fefae0;
    --accent: #dda15e;
    --accent-foreground: #283618;
    --destructive: #bc6c25;
    --destructive-foreground: #fefae0;
    --border: #606c38;
    --input: #606c38;
    --ring: #283618;
    --chart-1: #606c38;
    --chart-2: #283618;
    --chart-3: #dda15e;
    --chart-4: #bc6c25;
    --chart-5: #fefae0;
    --radius: 0.5rem;
  }
}
